fastapi
uvicorn
python-multipart
pydantic
# Audio Processing & Transcription

yt-dlp>=2024.3.10
pydub

# LangChain & LLM (Mistral)
langchain>=0.2.0
langchain-groq
langchain-core>=0.2.0
langchain-community>=0.2.0
langchain-experimental

# RAG & Vector Database (ChromaDB + HuggingFace)
langchain-chroma
langchain-huggingface>=0.0.3
huggingface-hub>=0.23.0




# Export (PDF Generation)
reportlab>=4.2.0
groq

langchain-postgres
sqlalchemy

--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers